body {
	font-family: "Verdana", sans-serif;
	color: white;
	background-color: #595547;
	/*text-align: center;*/
	/*width:800px;*/
}

a {
	color:#FF4F4F;
}

h1, h2 {
	color:#9FC2F8;
}

h1 {
	font-size: 80pt;
}

strong {
	color:  #FFF86B;
}